
<!-- Get jquery files from google -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>

<!-- JS script to turn on red LED-->
<script type=text/javascript>
	$(function() {
	  $('a#red-led-on').bind('click', function() {
		$.getJSON('/turn_on_red_led',
			function(data) {
		  //do nothing
		});
	return false;
  });
});
</script>

<!-- button -->
<div class='container'>
<h3>Test</h3>
    <form>
        <a href=# id=test><button class='btn btn-default'>Test</button></a>
    </form>
</div>

<!-- RED LED ON button -->
<div class='container'>
	<h3>Red LED on</h3>
		<form>
			<a href=# id=red-led-on><button class='btn btn-default'>Red LED on</button></a>
		</form>
	</div>

<html>

<head>
	<title>GUI Cam V2</title>
</head>

<body style="background-color:skyblue;">
	<h1>GUI Cam V2</h1>
	<h2>Say hi to everybody's favourite crested gecko!</h2>
	<div>Temperature = {{ temperature }}°C </div>
	<div>Humidity = {{ humidity }}% </div>
	<div>CPU Temperature = {{ cpu_temp }}°C </div>
	<hr>
	<a href="{{ url_for('LED_state', state=1, pin=23) }}">Green LED ON</a>
	<a href="{{ url_for('LED_state', state=0, pin=23) }}">Green LED OFF</a>
	<a href="{{ url_for('LED_state', state=1, pin=24) }}">Red LED ON</a>
	<a href="{{ url_for('LED_state', state=0, pin=24) }}">Red LED OFF</a>
	<hr>
	<img src="{{ url_for('video_feed') }}">
</body>

<div style="position: absolute; bottom: 5px;">
	<hr>
	A Flask website by David Saunders
	<hr>
	<a href="{{ url_for('old') }}">Legacy website</a>
</div>

</html>
