
<!-- Get jquery files from google -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Get Bootstrap files from online: https://getbootstrap.com/docs/4.1/getting-started/download/-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
-->

<!-- Got idea and code from https://stackoverflow.com/questions/21566649/flask-button-run-python-without-refreshing-page-->
<!-- JS script to turn on red LED-->
<script type=text/javascript>
	$(function() {
	  $('a#toggle-red-led').bind('click', function() {
		$.getJSON('/toggle_red_led',
			function(data) {
		  //do nothing
		});
	return false;
  });
});
</script>

<!-- JS script to turn on green LED-->
<script type=text/javascript>
	$(function() {
	  $('a#toggle-green-led').bind('click', function() {
		$.getJSON('/toggle_green_led',
			function(data) {
		  //do nothing
		});
	return false;
  });
});
</script>

<!-- JS script to turn off red LED-->
<script type=text/javascript>
	$(function() {
	  $('a#red-led-off').bind('click', function() {
		$.getJSON('/turn_off_red_led',
			function(data) {
		  //do nothing
		});
	return false;
  });
});
</script>

<!-- JS script to turn off green LED-->
<script type=text/javascript>
	$(function() {
	  $('a#green-led-off').bind('click', function() {
		$.getJSON('/turn_off_green_led',
			function(data) {
		  //do nothing
		});
	return false;
  });
});
</script>

<html>

<head>
	<title>GUI Cam V2</title>
</head>

<body style="text-align: center;">
	<h1>GUI Cam V2</h1>
	<h4>Say hi to everybody's favourite crested gecko!</h4>

		<div class="col d-flex justify-content-center">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;float: center;" align:center>
				<div class="card-header">Temperature</div>
				<div class="card-body">
					<div>Temperature = {{ temperature }}°C </div>
					<div>Humidity = {{ humidity }}% </div>
					<div>CPU Temperature = {{ cpu_temp }}°C </div>
				</div>
			</div>



			<div class="card border-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">Toggle LEDs</div>
				<div class="card-body">
					<a href=# id=toggle-red-led><button class='btn btn-primary'>Toggle red LED</button></a>
					<a href=# id=toggle-green-led><button class='btn btn-primary'>Toggle Green LED</button></a>
					
				</div>
			</div>


		
		</div>

		<div>
			<img src="{{ url_for('video_feed') }}">
		</div>

	</div>

	<div>
		<hr>
		A Flask website by David Saunders.
		<br>
		<a href="{{ url_for('old') }}">Legacy website</a>
	</div>

	<!-- TODO: Make into a neatly formatted table-->
	<!-- RED/Green LED ON button -->

</body>

</html>
